@import url(https://fonts.googleapis.com/css2?family=Inter);

$main-bg-color: #101010;
$secondary-color: #252525;
$main-text-color: #ffffff;
$highlight: #666666;
$secondary-text-color: rgba(255, 255, 255, 0.7);
$main-font-size: 16px;
$card-hover-distance: -5px;

$page-padding: 0px 30px;
