.heroSection {
	margin-top: 0.1rem;
	text-align: center;
	background: $secondary-color;
	height: 40vw;
	min-height: 185px;
	max-height: 270px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 0 1rem;

	h1 {
		font-weight: 700;
		font-size: 1rem;
	}
}

@media only screen and (min-width: 600px) {
	.heroSection {
		padding: 0 1rem;

		h1 {
			font-size: 1.2rem;
		}
	}
}

@media only screen and (min-width: 730px) {
	.heroSection {
		padding: 0 2rem;

		h1 {
			font-size: 1.4rem;
		}
	}
}

@media only screen and (min-width: 960px) {
	.heroSection {
		margin-top: 2rem;
		padding: 0 2.5rem;

		h1 {
			font-size: 1.7rem;
		}
	}
}

@media only screen and (min-width: 1170px) {
	.heroSection {
		margin-top: 2rem;
		padding: 0 2.75rem;

		h1 {
			font-size: 1.85rem;
		}
	}
}

@media only screen and (min-width: 1270px) {
	.heroSection {
		height: 20vw;
		max-height: 304px;
		padding: 0 110px;

		h1 {
			font-size: 35px;
		}
	}
}
