@import "./assets/scss/config.scss";
@import "./assets/scss/utility.scss";

body {
	font-family: Inter, sans-serif;
	box-sizing: border-box;
	margin: 0;
	background: $main-bg-color;
	overflow-x: hidden;

	a {
		text-decoration: none;
		color: $main-text-color;
		&:hover {
			text-decoration: underline;
		}
	}

	h1,
	h2,
	h3,
	h4,
	p {
		margin: 0;
		color: $main-text-color;
	}

	p {
		opacity: 0.7;
		font-size: 0.8rem;
		font-weight: 300;
		margin: 0;
	}
}

//components styling
@import "./assets/scss/pageWrapper.scss";
@import "./assets/scss/components/navbar.scss";
@import "./assets/scss/components/hero.scss";
@import "./assets/scss/components/trending.scss";
@import "./assets/scss/components/benefit.scss";
@import "./assets/scss/components/product-row.scss";
@import "./assets/scss/components/featured.scss";
@import "./assets/scss/components/help.scss";
@import "./assets/scss/components/footer.scss";
